In [36]:
import psycopg

In [37]:
print(psycopg.__version__)

3.1.10

In [38]:
conn = psycopg.connect(
    "host=localhost dbname=postgres user=postgres password=0815 port=5432"
)

In [39]:
cur = conn.cursor()

In [40]:
cur.execute("""
    CREATE TABLE POI2 (
        latitude FLOAT,
        longitude FLOAT,
        name VARCHAR(10),
        category INT
    )
""")

DuplicateTable: "poi2" 이름의 릴레이션(relation)이 이미 있습니다

In [31]:
import random
import string

In [32]:
conn.commit()

In [33]:
for _ in range(1000):
    latitude = random.uniform(37.0, 38.0)
    longitude = random.uniform(127.0, 128.0)
    name = ''.join(random.choice(string.ascii_uppercase) for _ in range(10))
    category = random.randint(1, 10)
    
    # 데이터 삽입 쿼리 실행
    cur.execute("INSERT INTO POI2 (latitude, longitude, name, category) VALUES (%s, %s, %s, %s)", (latitude, longitude, name, category))

In [34]:
conn.commit()

In [35]:
cur.execute("""
    SELECT * FROM POI2 
    WHERE 
        longitude BETWEEN 127.4 AND 127.6 
        AND latitude BETWEEN 37.4 AND 37.6
""")

# 결과 출력
filtered_data = cur.fetchall()
for row in filtered_data:
    print(f'ID: {row[0]}, 좌표: ({row[1]}, {row[2]}), 명칭: {row[3]}, 종별: {row[4]}')

IndexError: tuple index out of range